@media screen and (max-width: 1070px) {
  .calculator-wrapper {
    flex-direction: column;
  }

  .calculator-wrapper > div {
    width: 80%;
    margin: auto;
    padding: 1rem;
  }

  .selects {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .display-amount {
    margin: 1rem auto 2rem !important;
    padding: 2.5rem !important;
  }

  .total-amount {
    margin-bottom: 1rem;
  }
  
  .display-amount > div .text p {
   font=size: 1.4rem; 
  }

  .amount {
    font-size: 2rem !important;
  }
}
